html-secure/pfkchat-login-messages.js
/leviathan.htpasswd
/pfkchat.htpasswd
/pfkchat_password_database
/bin
/include
/lib
/share
*.o
*.d
*.pb.cc
*.pb.h
servers/pfkchat/pfkchat-protoversion.h
servers/pfkchat/pfkchat_ws
servers/pfkchat/proto.stamp
servers/pfkchat/xmakefile
