<table>
  <tr>
    <td style="width: 140px; vertical-align:top">
      <input type="button" value="clear" ng-click="clearButton()"/>
      <input type="button" value="logout" ng-click="logoutButton()"/>
      <ul class="userList">
        <li class="userListHeader">
          Users:
        </li>
        <li ng-repeat="user in data.userList"
            class="userListName userListName-{{user.typing}}">
          {{user.name}}
        </li>
      </ul>
    </td> <td style="vertical-align:top">
      <table style="border-collapse:separate">
        <tr ng-repeat="immsg in immsgs"
            style="border:1px solid red;
                   border-radius:5px;">
          <td style="border:1px solid blue;
                   border-radius:5px;">
            {{immsg.username}} </td>
          <td style="border:1px solid green;
                   border-radius:5px;">
            {{immsg.msg}} </td>
        </tr>

        <tr style="border:1px solid red;
                   border-radius:5px;">
          <td style="border:1px solid blue;
                     border-radius:5px;">
            {{data.username}}
          </td>
          <td style="">
            <input ng-keyup="msgentryKeyup($event)"
                   ng-model="data.msgentry" type="text"
                   autofocus size=70 />
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- 
  Local Variables:
  mode: html
  indent-tabs-mode: nil
  tab-width: 8
  eval: (add-hook 'write-file-hooks 'time-stamp)
  time-stamp-line-limit: 5
  time-stamp-start: "lastModified = \""
  time-stamp-format: "%:y/%02m/%02d  %02H:%02M:%02S\";"
  time-stamp-end: "$"
  End:
-->
