<table>
  <tr>
    <td class="leftColumn">
      <input type="button" value="clear" ng-click="clearButton()"/>
      <input type="button" value="logout" ng-click="logoutButton()"/>
      <table class="userList">
        <tr>
          <td class="userListHeader">
            Users: 
          </td> <td style="visibility:hidden;"
                    class="userListTyping userListTyping-2"></td>
        <tr ng-repeat="user in data.userList">
          <td class="userListName"> {{user.name}} </td>
          <td class="userListTyping userListTyping-{{user.typing}}">
            {{idle2min(user.idle)}} </td>
        </tr>
      </table>
    </td>
    <td style="vertical-align:top">
      <chattable box-title="Public Chat"
                 input-width="400px"
                 messages="data.immsgs_bcast"
                 myusername="data.username"
                 msgentry="data.msgentry"
                 clearbutton="clearButton"
                 msgentrykeyup="msgentryKeyup"></chattable>
    </td>
  </tr>
</table>

<!-- 
  Local Variables:
  mode: html
  indent-tabs-mode: nil
  tab-width: 8
  eval: (add-hook 'write-file-hooks 'time-stamp)
  time-stamp-line-limit: 5
  time-stamp-start: "lastModified = \""
  time-stamp-format: "%:y/%02m/%02d  %02H:%02M:%02S\";"
  time-stamp-end: "$"
  End:
-->
