
<div class="chatbox">
  <div class="chatbox-title">
    &nbsp;&nbsp;&nbsp;{{boxTitle}}
    <div style="float:right">
      <div class="chatplusminusx" ng-click="chatplus()">+</div>
      <div class="chatplusminusx" ng-click="chatminus()">-</div>
      <div class="chatplusminusx" ng-click="clearbutton()">X</div>
    </div>
  </div>
  <div class="chattable-box">
    <table class="chattable">
      <tr ng-repeat="immsg in messages">
        <td class="chattable-username"> {{immsg.username}} </td>
        <td class="chattable-msg"> {{immsg.msg}} </td>
      </tr>
      <tr>
        <td class="chattable-username" > {{myusername}} </td>
        <td>
          <textarea class="msgentrytextarea"
                    ng-keyup="msgentrykeyup($event)"
                    ng-model="msgentry" type="text"
                    rows=1 autofocus ng-attr-fauxstyle="width:{{inputWidth}};"
                    ></textarea>
        </td>
      </tr>
    </table>
  </div>
  <!-- these don't work very well, because if there's lag and
       the mouse moves outside the box before the box can move,
       then we 'loose' the box and we have to move the mouse back
       to the box to pick it up again. we only get mouseUp and
       mouseMove events from the box if the mouse is IN the box.
       so instead, resizeDown registers a window.onmousemove/up
       hook and resizeUp removes these hooks.  registering these
       events at the window level means we'll get them no matter
       what happens to the mouse and the box (w.r.t. lag).
       ng-mouseup="resizeUp($event)"
       no-ng-mousemove="resizeMove($event)" -->
  <div style="float:right;
              position:absolute;
              height:20px;
              width:20px;
              background:blue;
              bottom:0;
              right:0;"
       ng-mousedown="resizeDown($event)"
       ></div>
  <!-- 
       Local Variables:
       mode: html
       indent-tabs-mode: nil
       tab-width: 8
       eval: (add-hook 'write-file-hooks 'time-stamp)
       time-stamp-line-limit: 5
       time-stamp-start: "lastModified = \""
       time-stamp-format: "%:y/%02m/%02d  %02H:%02M:%02S\";"
       time-stamp-end: "$"
       End:
    -->
</div>
