<table>
  <tr>
    <td class="leftColumn">
      <input type="button" value="clear" ng-click="clearButton()"/>
      <input type="button" value="logout" ng-click="logoutButton()"/>
      <table class="userList">
        <tr>
          <td class="userListHeader">
            Users: 
          </td> <td style="visibility:hidden;"
                    class="userListTyping userListTyping-2"></td>
        <tr ng-repeat="user in data.userList">
          <td class="userListName"> {{user.name}} </td>
          <td class="userListTyping userListTyping-{{user.typing}}">
            {{idle2min(user.idle)}} </td>
        </tr>
      </table>
    </td> <td style="vertical-align:top">
      <table style="border-collapse:separate">
        <tr ng-repeat="immsg in data.immsgs_bcast">
          <td style="text-align:right;">
            {{immsg.username}} </td>
          <td style="border:1px solid green;
                     border-radius:5px;">
            {{immsg.msg}} </td>
        </tr>
        <tr>
          <td style="text-align:right;">
            {{data.username}}
          </td>
          <td style="">
            <input ng-keyup="msgentryKeyup($event)"
                   ng-model="data.msgentry" type="text"
                   autofocus size=70 />
          </td>
        </tr>
      </table>
      <chattable
         message-object="immsgs_bcast">
      </chattable>
    </td>
  </tr>
</table>

<!-- 
  Local Variables:
  mode: html
  indent-tabs-mode: nil
  tab-width: 8
  eval: (add-hook 'write-file-hooks 'time-stamp)
  time-stamp-line-limit: 5
  time-stamp-start: "lastModified = \""
  time-stamp-format: "%:y/%02m/%02d  %02H:%02M:%02S\";"
  time-stamp-end: "$"
  End:
-->
