<!DOCTYPE html>
<html>
  <head>
    <title>PFK CHAT</title>
    <link rel="stylesheet" type="text/css" href="pfkchat.css" />
  </head>
  <body ng-app="pfkChatApp">
    <div id="pageTitle">
      <div style="text-align: left; float: left">
        <span style="font-size: 3em"> pfk.org/pfkchat </span>
      </div>
      <div style="float: right; position: relative">
        <span style="font-size: 2em"> pfk@pfk.org </span>
      </div>
    </div>
    <div ng-controller="pfkChatCtlr">
      <table>
	<tr>
	  <td style="width: 140px; vertical-align:top">
	    <ul class="userList">
	      <li class="userListHeader">
		Users:
	      </li>
	      <li ng-repeat="user in data.userList"
		  class="userListName userListName-{{user.typing}}">
		{{user.name}}
	      </li>
	    </ul>
	  </td> <td style="vertical-align:top">
	    LAST MODIFIED: {{data.lastModified}} <br/>
	    STATE: <span style="color:{{data.connectionStateColor}}">
	      {{data.connectionState}}</span> <br/>
	    {{data.username}}: 
	    <!-- this doesn't work! ng-keyup="msgentryKeyup()" -->
	    <input ng-model="data.msgentry" id="msgentry" type="text"
		   autofocus size=70 />
	    <input type="button" value="clear" ng-click="clearButton()"/>
	    
	    <textarea id="messages" ng-model="data.messages"
		      rows=10 cols=80 >
	    </textarea>
	  </td>
	</tr>
      </table>
    </div>
    <script src=/js/Long.js> </script>
    <script src=/js/ByteBuffer.js> </script>
    <script src=/js/ProtoBuf.js> </script>
    <script src=/js/angular.min.js> </script>
    <script src=messages.js> </script>
    <script src=pfkchat.js> </script>
  </body>
</html>
