
body {
    background: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
}

#pageTitle {
    height: 4em;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.leftColumn {
    width: 140px;
    height: 10em;
    float: left;
    padding: 10px;
}

.userList {
    list-style: none;
    padding: 10px 0 0 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0;
    line-height: 1em;
}
.userListHeader {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.userListName {
    font-size: 18px;
    background: #404040;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-top: 1px solid white;
}
.userListName {
    font-size: 18px;
    background: #404040;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.userListName:hover {
    font-size: 20px;
    background: #505050;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.userListName-1 {
    color: white;
}
.userListName-2 {
    color: yellow;
}
.userListName-2:after {
    content: " (typing)";
}

.menu {
    list-style: none;
    padding: 0 0 0 0;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.menu:before {
    content: "[";
    padding-left: 1em;
}

.menu:after {
    content: "]";
    padding-right: 1em;
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
}
