
body {
    background: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
}

.pageTitle {
    height: 4em;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}
.pageTitle-l {
    text-align: left;
    float: left;
}
.pageTitle-ls {
    font-size: 3em;
}
.pageTitle-r {
    float: right;
    position: relative;
}
.pageTitle-rs {
    font-size: 2em;
}

.wsStatus {
    text-align: center;
    border-bottom: 1px solid #ffffff;
}
.wsStatus-red {
    color: red;
}
.wsStatus-yellow {
    color: yellow;
}
.wsStatus-white {
    color: white;
}

.leftColumn {
    width: 230px;
    vertical-align:top
}

.userList {
    width: 100%;
    list-style: none;
    padding: 10px 0 0 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0;
    line-height: 1em;
}
.userListHeader {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.userListName {
    font-size: 18px;
    background: #404040;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-top: 1px solid white;
}
.userListName {
    font-size: 18px;
    background: #404040;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.userListName:hover {
    font-size: 20px;
    background: #505050;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.userListTyping {
    text-align: left;
    font-size: 14px;
/*    background: #404040;*/
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.userListTyping-1 {
    color: white;
}
.userListTyping-2 {
    color: yellow;
}
.userListTyping-2:after {
    content: "typing";
}

.chattable {
    border-collapse:separate;
}
.chattable-username {
    text-align:right;
}
.chattable-msg {
    text-align:right;
}

.menu {
    list-style: none;
    padding: 0 0 0 0;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.menu:before {
    content: "[";
    padding-left: 1em;
}

.menu:after {
    content: "]";
    padding-right: 1em;
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
}

/*
  Local Variables:
  mode: css
  indent-tabs-mode: nil
  tab-width: 8
  eval: (add-hook 'write-file-hooks 'time-stamp)
  time-stamp-line-limit: 5
  time-stamp-start: "lastModified = \""
  time-stamp-format: "%:y/%02m/%02d  %02H:%02M:%02S\";"
  time-stamp-end: "$"
  End:
*/
